
<div class="bs-example">
  <table class="table table-hover">
    <thead>
      <tr class="info">
        <th>Application</th>
        <th>Production</th>
        <th>Support</th>
        <th>PS-DST</th>
        <th>UAT</th>
        <th>FVT</th>
        <th>Pre-prod</th>
        <th>Devpr</th>
        <th>Local</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let linkObj of links'>
        <td>{{linkObj.nickName}}</td>
        <td><a href="{{linkObj.prodUrl}}">{{linkObj.nickName}}</a></td>
        <td><a href="{{linkObj.psUrl}}">{{linkObj.nickName}}</a></td>
        <td><a href="{{linkObj.psDstUrl}}">{{linkObj.nickName}}</a></td>
        <td><a href="{{linkObj.uatUrl}}">{{linkObj.nickName}}</a></td>
        <td><a href="{{linkObj.fvtUrl}}">{{linkObj.nickName}}</a></td>
        <td><a href="{{linkObj.preProdUrl}}">{{linkObj.nickName}}</a></td>
        <td><a href="{{linkObj.devprUrl}}">{{linkObj.nickName}}</a></td>
        <td><a href="{{linkObj.localUrl}}">{{linkObj.nickName}}</a></td>
      </tr>
    </tbody>
  </table>
</div>
